h1, h2, h3, .header-title {
    font-family: 'Playfair Display', serif;
}

/* Utiliser Montserrat pour le texte de navigation et les sous-titres */
nav a, .sub-title {
    font-family: 'Montserrat', sans-serif;
}

/* Utiliser Roboto pour le corps du texte */
body, p {
    font-family: 'Roboto', sans-serif;
}
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: #f9f9f9;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 50px;
    height: auto;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    position: relative;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: cadetblue;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.cart a img {
    max-width: 25px;
    height: auto;
    object-fit: contain;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #5aa7a7;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://media.istockphoto.com/id/1058467496/fr/photo/rue-vendent-des-sacs-de-wayuu-traditionnels-fabriqu%C3%A9s-%C3%A0-la-main-%C3%A0-cartagena-de-indias.jpg?s=612x612&w=0&k=20&c=EfjCvZY-tE44JsZFlZVwhBEbgMSUaN6sKXBzQy7q1Sg=');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 150px 20px;
    margin-top: 80px;
}

.hero h1 {
    font-size: 3rem;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5aa7a7;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #447e7e;
}