/* Utiliser Playfair Display pour les titres */
h1, h2, h3, .header-title {
    font-family: 'Playfair Display', serif;
}

/* Utiliser Montserrat pour le texte de navigation et les sous-titres */
nav a, .sub-title {
    font-family: 'Montserrat', sans-serif;
}

/* Utiliser Roboto pour le corps du texte */
body, p {
    font-family: 'Roboto', sans-serif;
}

/* Styles de base */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif; /* Corps du texte */
    scroll-behavior: smooth;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://media.istockphoto.com/id/1216686332/fr/photo/femmes-wayuu.jpg?s=2048x2048&w=is&k=20&c=jVR2lRDJEOElceSmBSFtGC2xsZOgVb0v2NtDAJqR8mQ=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Masquer la barre de défilement sur les navigateurs basés sur WebKit */
body::-webkit-scrollbar {
    display: none;
}

/* Masquer la barre de défilement sur Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Overlay de chargement */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Overlay caché */
#overlay.fade-out {
    opacity: 0;
    pointer-events: none;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    margin-right: 20px;
}

.logo img {
    max-width: 50px;
    height: auto;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    position: relative;
    align-items: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif; /* Texte de navigation */
    transition: color 0.3s ease;
}

nav a:hover {
    color: cadetblue;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.cart a img {
    max-width: 25px;
    height: auto;
    object-fit: contain;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #5aa7a7;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', serif; /* Titres */
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 2px #00000086;
}

.nouveaute-container {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: 40px;
    padding-left: 10px; /* Pour s'assurer qu'il n'y a pas de marge interne */
}

.nouveaute-title {
    font-family: 'Playfair Display', serif; /* Utilisez la même police que El DORADO */
    font-size: 3rem; /* Ajustez la taille de la police selon vos besoins */
    color: #000; /* Couleur noire pour le texte */
    text-transform: uppercase; /* Mettre en majuscules */
    letter-spacing: 0.1em; /* Espacement entre les lettres */
    text-shadow: 1px 1px 2px #00000086; /* Ajoutez une ombre si nécessaire */
    position: relative; /* Nécessaire pour le pseudo-élément */
    margin-left: 0; /* Aligner à gauche */
    padding-left: 10px; /* Ajoute un peu d'espacement à gauche */
    display: inline-block; /* Permet d'ajouter des marges sans affecter d'autres éléments */
}

.nouveaute-title::before {
    content: '';
    display: block;
    width: 3px; /* Épaisseur du trait */
    height: 100%; /* Hauteur du trait */
    background-color: #000; /* Couleur du trait */
    position: absolute;
    left: -15px; /* Positionner le trait à gauche du texte */
    top: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.second-section {
    background-color: white;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.button {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease, color 0.2s ease;
    margin-right: 1rem;
    font-size: 1rem;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.button:hover {
    background-color: #000000;
    color: cadetblue;
    /* Change text color to blue on hover */
}

.black-text nav a {
    color: #000000;
}

.second-section .product-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
}

.second-section .single-product {
    width: 45%;
}

.second-section .single-product img {
    max-width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 1s ease-out forwards;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.scroll-down .circle {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.scroll-down .circle:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.scroll-down .arrow {
    width: 15px;
    height: 15px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
    animation: bounce 2s infinite;
}

.hidden {
    display: none;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

#histoire-video {
    position: relative;
    width: 100%;
    height: 60vh; /* Ajustez cette valeur pour une hauteur plus rectangulaire */
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.info-section {
    background-color: cadetblue; /* Couleur de fond similaire à l'image */
    padding: 20px 0;
    text-align: center;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff; /* Couleur du texte */
}

.info-container .separator {
    margin: 0 15px; /* Espacement entre les éléments */
}

/* Styles de la nouvelle section */
.histoire-container {
    display: flex;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-color: #f4f4f4;
}

.histoire-container .image-container {
    flex: 1;
    height: 100%; /* Assure que l'image prend toute la hauteur */
}

.histoire-container .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la hauteur sans déformer */
    display: block;
}

.histoire-container .text-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.histoire-container .text-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.histoire-container .text-container p {
    font-size: 1rem;
    line-height: 1.6;
}

.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 50%; /* Chaque élément occupe 50% de la largeur du conteneur */
    box-sizing: border-box;
    text-align: center;
    padding: 10px; /* Ajouter du padding pour l'espacement entre les éléments */
}

.carousel-item img {
    width: 100%;
    max-width: 450px; 
    height: auto;
    margin: 0 auto; /* Centrer l'image */
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.product-info {
    padding: 10px;


}.info-section {
    display: flex;
    justify-content: space-around; /* Adjust to space out the items as needed */
    align-items: center;
    
}

.info-item {
    text-align: center;
    opacity: 0.3;
    transition: opacity 0.3s;
    flex: 1; /* This will make sure items are evenly distributed */
    padding: 10px; /* Optional: Add some padding */
}

.info-item.active {
    opacity: 1;
}

.info-item .text {
    display: none;
}

.info-item.active .text {
    display: block;
}

.info-item .icon img {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

